# Entorno y Secretos
.env
.env.local
.env.staging
.env.production

# Dependencias
node_modules/
contracts/lib/
out/
cache/

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
